.grid-mobile {
  display: grid;
  width: 98%;
  background-color: #333;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 5px;
  padding-top: 1%;
  padding-left: 1.5%;
  padding-right: 1%;
  grid-gap: 2px;
}
.grid-mobile img {
  width: 64px;
  height: 32px;
}
.title-position {
  padding-top: 10%;
  padding-left: 30%;
  padding-bottom: 10%;
}
.news-title-position {
  font-size: 180%;
  padding-top: 10%;
  padding-left: 6%;
  padding-right: 6%;
}
.img-main {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.news-feed {
  padding-left: 10%;
  width: 80%;
  padding-right: 10%;
  text-align: cente;
}
/*Responsiveness for all mobile devices*/
@media (min-width: 411px) {
  .grid-mobile {
    display: grid;
    width: 97%;
    background-color: #333;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    padding-top: 1%;
    padding-left: 2.2%;
    padding-right: 0%;
    grid-gap: 2px;
  }
}
@media (min-width: 320px) {
  .grid-mobile {
    display: grid;
    width: 97%;
    background-color: #333;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    padding-top: 1%;
    padding-left: 2.5%;
    padding-right: 0%;
    grid-gap: 2px;
  }
  .grid-mobile img {
    width: 48px;
    height: 27px;
  }
  .title-position {
    padding-top: 10%;
    padding-left: 25%;
    padding-bottom: 10%;
  }
  .news-title-position {
    font-size: 160%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 6%;
  }
  @media (min-width: 375px) {
    .grid-mobile {
      display: grid;
      width: 98%;
      background-color: #333;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      border-radius: 5px;
      padding-top: 1%;
      padding-left: 1%;
      padding-right: 0%;
      grid-gap: 1px;
    }
    .grid-mobile img {
      width: 64px;
      height: 32px;
    }
  }
}
@media (min-width: 411px){
    .grid-mobile {
        display: grid;
        width: 97%;
        background-color: #333;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border-radius: 5px;
        padding-top: 1%;
        padding-left: 2.7%;
        padding-right: 0%;
        grid-gap: 1px;
      }
      .news-title-position {
        font-size: 180%;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 6%;
      }
      .title-position {
        padding-top: 10%;
        padding-left: 30%;
        padding-bottom: 10%;
      }
}
@media (min-width: 768px){
    .title-position {
        font-size:2em;
      }
      .grid-mobile img {
        width: 144px;
        height: 81px;
      }
      .grid-mobile {
        display: grid;
        width: 99%;
        padding-top: 0.5%;
        padding-left: 0.5%;
        padding-right: 0%;
        grid-gap: 1px;
      }
      .news-title-position {
        font-size: 310%;
        padding-top: 10%;
        padding-left: 8%;
        padding-right: 8%;
      }
      .news-feed{
          font-size: 2em;
      }
}
@media (min-width: 1024px){
    .title-position {
        font-size: 250%;
        padding-top: 10%;
        padding-left: 30%;
        padding-bottom: 10%;
      }
      .grid-mobile img {
        width: 176px;
        height: 99px;
      }
      .grid-mobile {
        
        width: 97%;
        padding-top: 1%;
        padding-left: 2%;
        padding-right: 0%;
        padding-bottom: 1%;
        grid-gap: 1px;
        
      }
      .news-title-position {
        font-size: 420%;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 8%;
        padding-bottom: 8%;
      }
      .news-feed{
        font-size: em;
    }
}
@media (min-width: 1025px){
.flex-desktop{
  display: flex;
}
}
