* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    width: 80%;
}

header{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    padding-bottom: 2px;
    position: fixed;
    width: 80%;
    top: 0px;
    border-bottom: 1px solid burlywood;
    background: darkgrey;
}

footer{
    display: grid;
    height: 30px;
    position: fixed;
    bottom: 0px;
    width: 80%;
    border-top: 1px solid burlywood;
    background: darkgray;
}

header img{
    width: 60px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 40px;
    width: 60px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 30px;
    border-radius: 50%;
}

header nav, footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a , footer nav a{
    margin: 0 20px;
}


a{
    color: white;
    text-decoration: none;
}

.dropdown-items {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;

}

.dropdown:hover .dropdown-items {
    display: block;
    
}

.dropdown-items a {
    color: white;
    background: #333;
    padding: 10px 0;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-items a {
    animation: dropdown-anim 1s forwards;
    display: block;
}

@keyframes dropdown-anim {
    0% {
        transform: translateX(20px) rotate(-30deg);
    }
    100% {
        transform: translateX(0) rotate(0);
    }
}

.container {
    margin-top: 7%;
    margin-bottom: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > div {
    margin-bottom: 3%;
}

.container > div:last-child {
    margin-bottom: 0;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 60%;
    margin-right: 2%;
}

.filters {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 187, 187);
}

.filters > div:first-child {
    margin-left: 10%;
}

.filters > div:last-child {
    margin-right: 10%;
}

