@media (max-width: 700px) {
    body{
        width: 95%;
    }

    .fbFeed, .best {
        display: none;
    }
    .container {
        display: grid;
        width: 100%;
        grid-gap: 5px;
        grid-template-areas: 
        "slider slider"
        "topRated topRated";
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .topRatedContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .topRatedContainer img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        cursor: pointer;
    }

    [class^=cellp] p {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }

    footer {
        width: 95%;
    }

    header {
        width: 95%;
    }

    .displaySlider div{
        height: 250px;
        width: 96%;
        border: solid 2px royalblue;
        color: darkblue;
    }

    p[class^="headline"]{
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        color: whitesmoke;
    }

    p[class^="headline"] a{
        font-size: 14px;
    }

    .modalTitle {
        color: white;
        font-size: 14px;
        text-align: center;
    }

    .modalAuthor, .modalDate {
        font-size: 10px;
    }
    
    .modalContent {
        font-size: 11px;
        text-align: center;
        margin-top: 20px;
    }

    .modalLink {
        margin-top: 10px;
        text-align: center;
        text-decoration: underline;
    }
}

@media (max-width: 800px) and (min-width: 701px){
    .topRatedContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .modalTitle {
        color: white;
        font-size: 22px;
        text-align: center;
    }

    .displaySlider div{
        height: 250px;
        width: 96%;
        color: darkblue;
    }
}

@media (max-width: 1000px) and (min-width: 801px){
    .topRatedContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }

    .modalTitle {
        color: white;
        font-size: 22px;
        text-align: center;
    }

    .modalAuthor, .modalDate {
        font-size: 14px;
    }

    .modalContent {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }

    .displaySlider div{
        height: 250px;
        width: 96%;
        border: solid 2px royalblue;
        color: darkblue;
    }

}

@media (max-width: 1200px) and (min-width: 1001px){
    .displaySlider div{
        height: 250px;
        width: 46%;
        color: darkblue;
    }
}